{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" id="header-band">
        <div class="row">
            <div class="col-md-3"><img src="{{ asset('../images/kotl-logo.png') }}"></div>
            <div class="col-md-9">
                <h1>King of the Lake</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">hello</div>
    </div>
{% endblock %}
